* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.custom-nav {
  width: 25%;
}

.main-container {
  width: 75%;
}

#modal-container {
  position: absolute;
  top: 500px;
  left: 39vw;
}

.mod-modal-container {
  padding: 10px;
  background-color: brown;
}

.backdrop {
  opacity: 0.5;
}
